@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.pictureLink {
  .beschreibung
  {
    display: flex;
    margin: 5px auto;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
  }
  .name
    {
      font-size: large;
      margin: 5px auto;
      padding-bottom: 2px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 2px;

    }
  .bild
  {
    margin: 5px auto;
    border-color: grey;
    border-style: solid;
    border-width: 2px;

    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;

    border-radius: 20px;



  }
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
}

